.container{
    display: flex;
    height: 100vh;
}
.left{
    background-color: blue;
    flex: 1.5;
}
.right{
    flex: 5;
    display: flex;
    flex-direction: column;
}
.top{
    background-color: aliceblue;
    flex: 1.3;
}
.bottom{
    background-color: aqua;
    flex: 5;
    display: flex;
}
