body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(124, 161, 218);
    border-radius: 10px;        /* color of the tracking area */
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(151, 165, 172);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(0, 2, 5);  /* creates padding around scroll thumb */
  }
.container{
    display: flex;
    height: 110vh;
}
.left{
    background-color: blue;
    flex: 1.5;
    display: flex;
    flex-direction: column;
}
.leftside{
    flex: 1;
}
#space3{
    flex: 10;
}
#dashboard{
    flex: 2;
    background-color: bisque;
}

.right{
    flex: 5;
    display: flex;
    flex-direction: column;
}
.top{
    background-color: aliceblue;
    flex: 1.3;
    display: flex;
}
.bottom{
    background-color: rgb(213, 232, 236);
    flex: 5;
    display: flex;
    padding-right: 1em;
}
.botleft{
    flex: 5;
    display: flex;
    flex-direction: column;
}
.yprojects{
    height: 2em;
    padding-left: .5em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.yptext{
    font-size: 1em;
    font-weight: 500;
}
.projcont{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
    gap: .5em;
    padding: .5em;
    padding-bottom: 2em;
}
.projects{
    border-left: groove .5em rgb(99, 141, 206);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    padding: .25em;
    box-shadow: .1em .2em rgb(154, 231, 241);
    overflow: auto;
}

.botright{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    flex-wrap: nowrap;
}
.announcements{
    height: 2em;
    margin-bottom: .5em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 1em;
    font-weight: 500;
}
.abox{ 
    border-left: groove .5em rgb(99, 141, 206);
    background-color: white;
    flex: 5;
    box-shadow: .1em .2em rgb(154, 231, 241);
    border-radius: .5em;
    padding: .25em;
    overflow: auto;
}
.anndiv{
    border-bottom: solid 1px rgb(216, 204, 204);
}
.trending{
    height: 2em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: .1em;
}
.tbox{
    min-height: 0px;
    border-left: groove .5em rgb(99, 141, 206);
    background-color: white;
    flex: 5;
    box-shadow: .1em .2em rgb(154, 231, 241);
    border-radius: .5em;
    padding: .25em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.topright{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
}
.topleft{
    flex: 3;
}
.toprightbutts{
    flex: 1;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.toprighttop{
    display: flex;
    justify-content: space-around;
    flex: 1;
    background-color: aquamarine;
}
.butt{
    margin: .7em;
    min-width: 5em;
    min-height:  2em;
    border-radius: 15px;
    border: solid 1px black;
    background-color: lightblue;
    font-size: 10px;
}
.topleft{
    display: flex;
    flex-direction: column;
}
.searchbar{
    flex: 1;
    display: flex;
}
.usertitle{
    flex: 4;
    display: flex;
}
.userlogo{
    flex: 1.3;
    background-color: blueviolet;
}
.username{
    flex: 5;
    background-color: green;
}
.searchlogo{
    flex: .8;
    background-color: yellow;
}
.searchtext{
    flex: 5;
}
.projects .para{
    flex: 5;
    text-align: center;
}
.projects .icons{
    flex: 1;
}
.icons{
    display: flex;
    justify-content: right;
}
img{
    max-width: 100%;
    max-height: 1em;
    opacity: .7;
    margin: .2em;
}
h4{
    font-size: .7em;
    margin-bottom: 0px;
    margin-top: 0px;
}
p{
    margin-top: 0px;
    font-size: .7em;
}
.tbox div{
    height: 2em;
    display: flex;
    min-height: 0;
}
.mrdog{
    display: flex;
    flex-direction: column;
}
.mrdogname{
    flex: 1;
    margin: 0px;
}
.mrdoginfo{
    flex: 1;
}